<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::page_head('Admin Home')"></head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/preloader::preloader"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav th:replace="fragments/navbar::navbar"></nav>

        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav th:replace="fragments/sidebar::sidebar"></nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Add Region</h5>
                                        </div>
                                        <div class="card-block">
                                            <form method="post" th:action="@{/regions/add}" th:object="${region}">
                                                <input type="hidden" th:field="*{id}">
                                                <input type="hidden" th:field="*{createdAt}">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 col-form-label">Name</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" th:field="*{name}"
                                                               placeholder="Name">
                                                        <span class="text-danger error"
                                                              th:if="${#fields.hasErrors('name')}"
                                                              th:errors="*{name}">name Error</span>

                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-2 "></label>
                                                    <div class="col-sm-10">
                                                        <button type="submit" class="btn btn-primary m-b-0">Submit
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div></div>


</body>
<div th:replace="fragments/footer::footer"></div>
</html>
