<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::page_head('Regions')"></head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/preloader::preloader"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="fragments/navbar::navbar"></nav>


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav th:replace="fragments/sidebar::sidebar"></nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Permissions</h5>
                                        <a th:href="@{regions/create}"
                                           class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger">
                                            <i class="icofont icofont-plus m-r-5"></i>Add Region
                                        </a>
                                    </div>
                                    <div class="card-block ">
                                        <div class="table-responsive">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                                                    <div class="pagination-page-size-wrapper">
                                                        <label>Show <select id="page-size-select"
                                                                            class="form-control input-sm">
                                                            <option th:selected="${currentSize==10? true:false}" value="10">
                                                                10
                                                            </option>
                                                            <option th:selected="${currentSize==25? true:true}" value="25">
                                                                25
                                                            </option>
                                                            <option th:selected="${currentSize==50? true:true}" value="50">
                                                                50
                                                            </option>
                                                            <option th:selected="${currentSize==100?true:true}" value="100">
                                                                100
                                                            </option>
                                                        </select> entries</label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12">
                                                    <table class="table table-hover table-bordered table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th class="w-px-80">#</th>
                                                            <th>Name</th>
                                                            <th>Created At</th>
                                                            <th class="w-px-100">Actions</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="region: ${regions}">
                                                            <th scope="row">[[${region.id}]]</th>
                                                            <td>[[${region.name}]]</td>
                                                            <td>[[${region.createdAt}]]</td>
                                                            <td>
                                                                <a th:href="@{'/regions/update/'+${region.id}}"><i
                                                                        class="icofont icofont-edit icofont-lg"></i></a>
                                                                <a href="javascript:void(0)"
                                                                   th:regionId="${region.id}"
                                                                   onclick="deleteRow(this)">
                                                                    <i class="icofont icofont-ui-delete icofont-lg"></i>
                                                                </a>

                                                            </td>
                                                        </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-5">
                                                    <div> Showing [[${startCount}]] to [[${endCount}]] of
                                                        [[${totalCount}]] entiries
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-7">
                                                    <div class="dataTables_paginate">
                                                        <ul class="pagination">
                                                            <li class=" page-item previous ">
                                                                <a href="#" class="page-link">Previous</a>
                                                            </li>
                                                            <li class="paginate_button page-item active">
                                                                <a href="#" aria-controls="don-jqry" data-dt-idx="1"
                                                                   tabindex="0" class="page-link">1</a>
                                                            </li>
                                                            <li class="paginate_button page_item ">
                                                                <a href="#" aria-controls="don-jqry" data-dt-idx="2"
                                                                   tabindex="0" class="page-link">2</a>
                                                            </li>
                                                            <li class="paginate_button page_item next">
                                                                <a href="#" aria-controls="don-jqry_next"
                                                                   data-dt-idx="3" tabindex="0"
                                                                   class="page-link">Next</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer::footer"></div>
<script>
    function deleteRow(e) {
        var button = $(e);
        var regionId = button.attr('regionId');
        swal({
                title: "Are you sure",
                text: "Your will not be able to recover this element",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function (value) {

                if (value) {
                    $.ajax({
                        'url': '/admin/regions/delete/' + regionId,
                        'type': 'GET',
                        'success': function (data) {
                            swal("Deleted", "Your imaginary file has been deleted.", "success");
                            button.parents('tr').remove();
                        },
                        'error': function (request, error) {
                            swal("Error", "Something went wrong.", "error");
                        }
                    });

                } else
                    console.log(value)

            });
    }
</script>

</html>