<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header::page_head('Permissions')"></head>

<body>
<!-- Pre-loader start -->
<div th:replace="fragments/preloader::preloader"></div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">

        <nav th:replace="fragments/navbar::navbar"></nav>


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <nav th:replace="fragments/sidebar::sidebar"></nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">


                                <div class="card">
                                    <div class="card-header">
                                        <h5>Permissions</h5>

                                        <a th:href="@{permissions/add}"
                                           class="btn btn-primary waves-effect waves-light f-right d-inline-block md-trigger">
                                            <i class="incofont-plus m-r-5"></i>Add Permission
                                        </a>

                                    </div>
                                    <div class="card-block table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Name</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="permission: ${permissions}">
                                                    <th scope="row">[[${permission.id}]]</th>
                                                    <td>[[${permission.name}]]</td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="fragments/footer::footer"></div>

</html>
