<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="navbar header-navbar pcoded-header" th:fragment="navbar">
    <div class="navbar-wrapper">

        <div class="navbar-logo">
            <a class="mobile-menu" id="mobile-collapse" href="#!">
                <i class="feather icon-menu"></i>
            </a>
            <a href="index-1.htm">
                <img class="img-fluid" src="@{/assets/images/logo.png}" alt="Theme-Logo">
            </a>
            <a class="mobile-options">
                <i class="feather icon-more-horizontal"></i>
            </a>
        </div>

<!--        <div class="showChat_inner">-->
<!--            <div class="media chat-inner-header">-->
<!--                <a class="back_chatBox">-->
<!--                    <i class="feather icon-chevron-left"></i> Josephin Doe-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</nav>
</body>
</html>