<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav class="pcoded-navbar" th:fragment="sidebar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Admin Control Panel</div>
        <ul class="pcoded-item pcoded-left-item">

            <li class="">
                <a th:href="@{/regions}">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Regions</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a th:href="@{/places}">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Places</span>
                </a>
            </li>
            <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                    <span class="pcoded-mtext">Control Admins</span>
                    <span class="pcoded-badge label label-danger">3</span>
                </a>
                <ul class="pcoded-submenu">
                    <li class="">
                        <a th:href="@{/admins}">
                            <span class="pcoded-mtext">Admins</span>
                        </a>
                    </li>
                    <li class=" ">
                        <a href="widget-data.htm">
                            <span class="pcoded-mtext">Roles</span>
                        </a>
                    </li>
                    <li class="">
                        <a th:href="@{/permissions}">
                            <span class="pcoded-mtext">Permissions</span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>


        <div class="pcoded-navigatio-lavel">User Control Panel</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a th:href="@{/user}">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">User</span>
                </a>
            </li>
            <li class="">
                <a href="#" target="_blank">
                    <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                    <span class="pcoded-mtext">Products</span>
                </a>
            </li>
            <li class="">
                <a href="#" target="_blank">
                    <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                    <span class="pcoded-mtext">Offers</span>
                </a>
            </li>
            <li class="">
                <a href="#" target="_blank">
                    <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                    <span class="pcoded-mtext">Request</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
</body>
</html>